///
/// Apply differences returned from 'color-diff' function to a color in order to retrieve the second color
/// @group colorpalette
/// @param {string} $color
/// @param {number} $diff
/// @link http://www.sitepoint.com/using-sass-build-color-palettes/ Using Sass to Build Color Palettes by Hugo Giraudel
///

@function apply-diff($color, $diff) {
	@each $key, $value in $diff {
		$color: call($key, $color, $value);
	}

	@return $color;
}

///
/// Defining the difference between 2 colors
/// @group colorpalette
/// @param {string} $a - Color value
/// @param {string} $b - Color value
/// @link http://www.sitepoint.com/using-sass-build-color-palettes/ Using Sass to Build Color Palettes by Hugo Giraudel
///

@function color-diff($a, $b) {
	$sat:     saturation($a) - saturation($b);
	$lig:     lightness($a) -  lightness($b);
	$fn-sat:  if($sat > 0, "desaturate", "saturate");
	$fn-lig:  if($lig > 0, "darken", "lighten");

	@return (
		adjust-hue: -(hue($a) - hue($b)),
		#{$fn-sat}: abs($sat),
		#{$fn-lig}: abs($lig)
	);
}

///
/// Create a palette from a base color
/// @group colorpalette
/// @param {string} $base-color
/// @requires apply-diff
/// @link http://www.sitepoint.com/using-sass-build-color-palettes/ Using Sass to Build Color Palettes by Hugo Giraudel
///

@function create-palette($base-color) {
	$colors: ();

	@each $diff in $palette-diffs {
		$colors: append($colors, apply-diff($base-color, $diff));
	}

	@return $colors;
}

///
/// Create a list of colors from the base color then turn into a map with explicit keys
/// @group colorpalette
/// @param {string} $base-color
/// @requires create-palette
/// @link http://www.sitepoint.com/using-sass-build-color-palettes/ Using Sass to Build Color Palettes by Hugo Giraudel
///

@function palette($base-color, $reverse: false) {
	$colors:  create-palette($base-color);

	$keys:    "lightest" "lighter" "light" "base" "dark" "darker" "darkest";

	@if $reverse {
		$keys:    "darkest" "darker" "dark" "base" "light" "lighter" "lightest";
	}
	
	$palette: ();

	@for $i from 1 through min(length($colors), length($keys)) {
		$palette: map-merge($palette, (nth($keys, $i): nth($colors, $i)));
	}

	@return $palette;
}

///
/// Compute the diff for each color from the initial palette
/// @group colorpalette
/// @param {string} $palette
/// @requires color-diff
/// @link http://www.sitepoint.com/using-sass-build-color-palettes/ Using Sass to Build Color Palettes by Hugo Giraudel
///

@function palette-diff($palette) {
	$base:    map-get($palette, base);
	$colors:  map-get($palette, colors);

	$diffs:   ();

	@each $color in $colors {
		$diffs: append($diffs, color-diff($base, $color));
	}

	@return $diffs;
}