///
/// Converts pixel based numbers into REMs using the $root-em global variable as a base
/// @group helpers
/// @param {number} $value
/// @example scss
/// .item {
///   font-size: rem(14);
/// }
///

@function rem($value) {
	@if not unitless($value) {
		$value: strip-units($value);
	}

	$base: $root-em;
	@if not unitless($base) {
		$base: strip-units($base);
	}
	
	@return ($value / $base) * 1rem;
}