
// Base layout values
$border-radius: 3px !default;
$cell-height: 40px !default;

// Base palette
$base-palette: (
	base: #959595,
	colors: #D7D7D7 #C2C2C2 #ACACAC #959595 #7D7D7D #626262 #464646
) !default;

$palette-diffs: palette-diff($base-palette) !default;

// Media querie map
$breakpoints: (
	"810": "(max-width: 810px)",
	"900" : "(max-width: 900px)",
	"1080" : "(max-width: 1080px)",
	"1024": "(max-width: 1200px)"
) !default;

// Z index map
$z-layers: (
	"below"  : -1,
	"above"  : 1,
	"abover" : 2,
	"menu"   : 100
) !default;

// Font maps
$font-sizes: (
	"Main Heading"    : 22px,
	"Section Heading" : 16px,
	"Default Text"    : 15px,
	"Notes"           : 13px,
	"Button Text"     : 14px
) !default;

$font-weights: (
	"regular":  "NunitoSansRegular", // 400
	"light":    "NunitoSansLight", // 300
	"semibold": "NunitoSansSemiBold", // 600
	"bold":     "NunitoSansBold" // 700
) !default;

// Transition maps
$transitions: (
	"link": cubic-bezier(0.075, 0.820, 0.165, 1.000),
	"shift": cubic-bezier(0.770, 0.000, 0.175, 1.000)
) !default;

// Manual Font Sizes
$btn-icon-size: 24px;

// Spacing
$spacing-lg: 28px;
$spacing-md: 10px;
$spacing-sm: 5px;

// Gutters
$body-gutter-lg: 125px;
$body-gutter-md: 75px;
$body-gutter-sm: 25px;
