///
/// @group helpers
/// @param {string} $position
/// @param {array} $args
/// @example scss
/// .item {
///   @include position(absolute, top 50px);
/// }
/// @link http://www.sitepoint.com/sass-mixins-kickstart-project/ Sass Mixins To Kickstart Your Project by Hugo Giraudel
///

@mixin position($position, $args) {
	@if $args == 'zero' {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	} @else {
		@each $o in top right bottom left float {
			$i: index($args, $o);

			@if $i and $i + 1 <= length($args) {
				#{$o}: nth($args, $i + 1);
			}
		}
	}

	position: $position;
}

///
/// @group helpers
/// @param {array} $args
/// @example scss
/// .item {
///   @include absolute(top 50px);
/// }
/// @requires position
/// @link http://www.sitepoint.com/sass-mixins-kickstart-project/ Sass Mixins To Kickstart Your Project by Hugo Giraudel
///

@mixin absolute($args) {
	@include position(absolute, $args);
}

///
/// @group helpers
/// @param {array} $args
/// @example scss
/// .item {
///   @include fixed(bottom 50px);
/// }
/// @requires position
/// @link http://www.sitepoint.com/sass-mixins-kickstart-project/ Sass Mixins To Kickstart Your Project by Hugo Giraudel
///

@mixin fixed($args) {
	@include position(fixed, $args);
}

///
/// @group helpers
/// @param {array} $args
/// @example scss
/// .item {
///   @include relative(float left);
/// }
/// @requires position
/// @link http://www.sitepoint.com/sass-mixins-kickstart-project/ Sass Mixins To Kickstart Your Project by Hugo Giraudel
///

@mixin relative($args) {
	@include position(relative, $args);
}