///
/// @group placeholders
/// @param {string} $value
/// @param {array} $prefixes
/// @example scss
/// .item {
///   @include border-top-radius(10px);
/// }
/// @requires prefixer
///

@mixin border-top-radius($value) {
	border-top-left-radius: $value;
	border-top-right-radius: $value;
}

///
/// @group placeholders
/// @param {string} $value
/// @param {array} $prefixes
/// @example scss
/// .item {
///   @include border-bottom-radius(10px);
/// }
/// @requires prefixer
///

@mixin border-bottom-radius($value) {
	border-bottom-left-radius: $value;
	border-bottom-right-radius: $value;
}

///
/// @group placeholders
/// @param {string} $value
/// @param {array} $prefixes
/// @example scss
/// .item {
///   @include border-left-radius(10px);
/// }
/// @requires prefixer
///

@mixin border-left-radius($value) {
	border-bottom-left-radius: $value;
	border-top-left-radius: $value;
}

///
/// @group placeholders
/// @param {string} $value
/// @param {array} $prefixes
/// @example scss
/// .item {
///   @include border-right-radius(10px);
/// }
/// @requires prefixer
///

@mixin border-right-radius($value) {
	border-bottom-right-radius: $value;
	border-top-right-radius: $value;
}