
// @font-face {
// 	font-family: "NunitoSansRegular";
// 	src: url("../fonts/NunitoSans-Regular.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "NunitoSansItalic";
// 	src: url("../fonts/NunitoSans-Italic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "NunitoSansLight";
// 	src: url("../fonts/NunitoSans-Light.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "NunitoSansLightItalic";
// 	src: url("../fonts/NunitoSans-LightItalic.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "NunitoSansSemiBold";
// 	src: url("../fonts/NunitoSans-SemiBold.ttf") format("truetype");
// }

// @font-face {
// 	font-family: "NunitoSansBold";
// 	src: url("../fonts/NunitoSans-Bold.ttf") format("truetype");
// }