
.ipsg-home {
	&.container-fluid {
		display: block;
		overflow: auto;
	}

	.ipsg-home-header {
		align-items: center;
		background-image: url("../images/home-bg.png");
		background-position: 0 45%;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		flex-direction: column;
		padding: 35px 0;
		position: relative;
		width: 100%;

		h1 {
			font: f("Main Heading", "semibold");
			font-weight: 600;
			color: $color-white;
			letter-spacing: 3px;
			margin: 5px 0 25px;
			padding: 0 40px;
			text-align: center;

			.light {
				font: f("Main Heading", "light");
				font-weight: 300;
			}
		}

		.ipsg-home-input {
			align-items: center;
			display: flex;
			flex-direction: column;
			max-width: 400px;
			width: 100%;

			.ipsg-widget_input-box {
				height: auto;
			}

			.form-control {
				font-size: 20px;
				margin-bottom: $spacing-md;
			}

			.ipsg-widget_button {
				margin-top: 30px;
				width: 100%;
			}
		}

		.ipsg-home-options {
			display: flex;
			width: 100%;

			.ipsg-home-options-column {
				display: flex;
				flex: 1 1 auto;

				&:first-child {
					justify-content: flex-start;
				}

				&:last-child {
					justify-content: flex-end;
				}

				input {
					border-radius: 0;
				}
			}
		}

		.ipsg-home-link {
			color: $color-white;
			font: f("Default Text");
			margin-left: $spacing-sm;
		}

		.ipsg-home-login-error {
			@include sizing(100%, auto);
			align-items: center;
			background-color: $color-white;
			border: 3px solid $color-red;
			color: $color-red;
			display: flex;
			font: f("Default Text");
			justify-content: center;
			margin-top: $spacing-md;
			max-width: 400px;
			padding: $spacing-md;

			span {
				margin-right: $spacing-sm;
			}
		}

		.ipsg-home-social {
			@include absolute(top 0 right 0);
			align-items: center;
			display: flex;
			padding: 20px 25px;

			a {
				margin: 0 $spacing-md;
			}
		}
	}

	.ipsg-home-body {
		display: flex;
		padding: 0 150px;
		width: 100%;

		@include breakpoint("900") {
			flex-wrap: wrap;
			padding: 0 150px;
		}

		.ipsg-column {
			align-items: center;
			flex: 1 1 33.3%;
			font: f("Notes");
			padding: 60px 50px;

			@include breakpoint("1080") {
				padding: 60px 20px;
			}

			@include breakpoint("900") {
				flex: 1 1 100%;
				padding: 40px 20px;
			}

			h2,
			p {
				color: $color-slate-gray;
				margin: 0;
				text-align: center;
			}

			h2 {
				font: f("Section Heading", "semibold");
				font-weight: 600;
				margin: 20px 0;
			}
		}
	}
}