$local-collapse-size: 50px;

html,
body {
	color: $color-slate-gray;
	font: f("Default Text");
	height: 100%;
	min-height: 100%;
	overflow: hidden;
}

body > form {
	@include sizing(100%);
}

a {
	color: $color-turquoise;
}

.ipsg-container {
	@include sizing(100%);
	display: flex;
	padding: 0;
}

.ipsg-column {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	height: 100%;

	&.ipsg-main-nav {
		flex: 0 0 250px;

		.ipsg-menu-collapse & {
			flex: 0 0 $local-collapse-size;
		}
	}
}

.ipsg-main-nav {
	.ipsg-logo,
	.ipsg-user,
	.ipsg-tabs {
		flex: 0 0 auto;
		position: relative;
		width: 100%;
	}

	.ipsg-logo {
		background-color: $color-teal;
		height: 75px;

		.ipsg-logo-link {
			@include absolute(top 0 left 52px right 0 bottom 0);
			text-align: center;

			&::before {
				color: $color-white;
				font-size: 75px;
				z-index: z("above");
			}

			.ipsg-menu-collapse & {
				display: none;
			}
		}

		.ipsg-logo-menu-btn {
			@include sizing(52px, 100%);
			align-items: center;
			color: $color-white;
			cursor: pointer;
			display: flex;
			font-size: $btn-icon-size;
			justify-content: center;
			position: relative;
			z-index: z("abover");

			.ipsg-menu-collapse & {
				width: $local-collapse-size;
			}
		}
	}

	.ipsg-user {
		$icon-size: 40px;

		background-color: $color-white;
		border-right: border($color-medium-gray);
		display: block;
		padding: ($spacing-md + $spacing-sm);

		.ipsg-menu-collapse & {
			display: none;
		}

		.ipsg-user-icon {
			@include relative(float left);
			@include sizing($icon-size);
			background-color: $color-turquoise;
			border-radius: 100%;
			color: $color-white;
			font-size: $icon-size;
			overflow: hidden;

			&::before {
				@include absolute(top 4px left 0);
			}
		}

		.ipsg-user-info {
			@include relative(float left);
			color: $color-slate-gray;
			display: flex;
			flex-direction: column;
			height: $icon-size;
			justify-content: center;
			padding-left: ($spacing-md + $spacing-sm);
			width: calc(100% - #{$icon-size});

			span {
				@include ellipsis(100%);
				display: block;

				&.bolded {
					font: f("Default Text", "semibold");
					font-weight: 600;
				}
			}
		}

		.ipsg-user-select2 {
			@include relative(float left);
			margin-top: $spacing-md;
			width: 100%;

			select {
				width: 100%;
			}
		}
	}

	.ipsg-tabs-group {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
	}

	.ipsg-tabs {
		background-color: $color-turquoise;
		color: $color-white;
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;

		.ipsg-menu-collapse & {
			flex-wrap: wrap;
			width: $local-collapse-size;
		}

		// tooltip overwrite
		.tooltip {
			&.in {
				opacity: 1;
			}

			&.top {
				.tooltip-arrow {
					border-top-color: $color-white;
				}
			}
		}

		.tooltip-inner {
			background-color: $color-white;
			border-radius: 0;
			box-shadow: rgba($color-black,0.5) 0 2px 4px 0;
			color: $color-slate-gray;
			font: f("Notes");
			padding: $spacing-md;
			text-align: center;
		}

		.ipsg-tab {
			align-items: center;
			background-color: $color-turquoise;
			border-right: border($color-white);
			cursor: pointer;
			display: flex;
			height: $cell-height;
			flex: 1 1 auto;
			font-size: $btn-icon-size;
			justify-content: center;
			margin: 0;
			padding: 0;
			position: relative;
			transition: trans(background-color, "link");

			.ipsg-menu-collapse & {
				border-bottom: border($color-white);
				border-right: none;
				width: $local-collapse-size;
			}

			&:focus {
				outline: none;

				a {
					outline: none;
				}
			}

			&:last-of-type {
				border-right: none;
			}

			&.ui-tabs-active {
				background-color: $color-teal;
			}

			a {
				@include sizing(100%);
				align-items: center;
				color: $color-white;
				display: flex;
				justify-content: center;
				text-decoration: none;

				&:focus {
					outline: none;
				}

				&::before {
					margin-top: 1px;
				}
			}
		}
	}

	.ipsg-nav {
		background-color: lighten($color-slate-gray, 10%);
		flex: 1 1 auto;
		overflow-x: hidden;
		overflow-y: auto;
		position: relative;
		width: 100%;

		.ipsg-menu-collapse & {
			overflow: visible;
		}

		h3,
		h4 {
			@include sizing(100%, $cell-height);
			align-items: center;
			background-color: $color-slate-gray;
			border-top: border(lighten($color-slate-gray, 10%));
			cursor: pointer;
			display: flex;
			font: f("Default Text");
			font-weight: 400;
			margin: 0;
			position: relative;

			.ipsg-menu-collapse & {
				border-top: border($color-white);
				height: $local-collapse-size;
			}

			&:hover,
			&.state-selected {
				background-color: $color-silver;
			}

			&.state-selected {
				.ipsg-nav-arrow {
					transform: rotate(90deg);
				}
			}

			a {
				@include sizing(100%);
				color: $color-white;
				display: flex;
				padding: 0 $spacing-sm 0 $spacing-md;
				text-decoration: none;

				.ipsg-menu-collapse & {
					padding: 0;
				}
			}

			.ipsg-nav-icon,
			.ipsg-nav-arrow {
				.ipsg-menu-collapse & {
					align-items: center;
					display: flex;
					flex: 0 0 $local-collapse-size;
					justify-content: center;
					height: 100%;
				}
			}

			.ipsg-nav-icon {
				flex: 0 0 24px;
				font-size: $btn-icon-size;
			}

			.ipsg-nav-text {
				flex: 1 1 auto;
				font: f("Default Text", "light");
				padding: 0 $spacing-md;
			}

			.ipsg-nav-arrow {
				flex: 0 0 20px;
				justify-content: center;
				transform: rotate(180deg);
				transition: trans(transform, "shift", 0.3s);
			}

			.ipsg-nav-icon,
			.ipsg-nav-text,
			.ipsg-nav-arrow {
				align-items: center;
				display: flex;
			}

			.ipsg-nav-text,
			.ipsg-nav-arrow {
				.ipsg-menu-collapse & {
					display: none;
				}
			}
		}

		.ipsg-nav-items {
			display: block;
			margin: 0;
			overflow: hidden;
			padding: 0;
			position: relative;

			.ipsg-menu-collapse & {
				@include absolute(left 0);
				background-color: $color-silver;
				border: border($color-white);
				box-shadow: rgba($color-black,0.2) 0 2px 4px 0;
				margin-left: $local-collapse-size;
				margin-top: -($local-collapse-size + 1);
				overflow: visible;
				width: 300px;
				z-index: z("menu");

				&::before {
					@include absolute(top 0 left -4px);
					@include sizing(4px, 49px);
					background-color: $color-silver;
					content: "";
				}
			}

			li {
				@include sizing(100%, auto);
				align-items: center;
				border-bottom: border(#4C4C4C);
				display: flex;
				font: f("Button Text");

				.ipsg-menu-collapse & {
					border: none;
				}

				&:last-of-type {
					border-bottom: 0;
				}

				&:hover,
				&.state-selected {
					background-color: darken($color-white, 40%);

					.ipsg-menu-collapse & {
						background-color: darken($color-white, 30%);
					}
				}

				&.ipsg-nav-items-title {
					color: $color-white;
					display: none;
					font: f("Default Text");
					padding: $spacing-md $spacing-md 0;

					.ipsg-menu-collapse & {
						display: block;
					}

					&:hover,
					&.state-selected {
						background-color: transparent;
					}
				}

				&.ipsg-nav-item_highlighted a {
					color: $color-orange-yellow;
				}

				a {
					@include sizing(100%);
					align-items: center;
					color: $color-white;
					display: flex;
					min-height: $cell-height;
					padding: 0 $spacing-md 0 $cell-height;
					text-decoration: none;

					.ipsg-menu-collapse & {
						color: white;
						min-height: auto;
						padding: $spacing-sm $spacing-md $spacing-sm $cell-height;
					}
				}
			}
		}

		.ipsg-nav-item_highlighted {
			color: $color-orange-yellow;

			a {
				color: $color-orange-yellow;
			}
		}
	}
}

.ipsg-main-content {
	.ipsg-search {
		align-items: center;
		background-color: $color-turquoise;
		display: flex;
		flex: 0 0 auto;
		height: 75px;
		justify-content: center;
	}

	.ipsg-body {
		flex: 1 1 auto;
		overflow: auto;
		padding: 38px 105px;
	}
}