.ipsg-body {
	.mainResult {
		background-color: transparent;
	}

	.dxgvControl {
		background-color: transparent;
		border: none;
		color: $color-slate-gray;
		cursor: default;
		font: f("Notes");
	}

	.dxgvGroupPanel,
	.dxgvEmptyDataRow {
		border-bottom: none;
		color: $color-slate-gray;
		min-height: $cell-height;
		padding: 0;
		text-align: center;
		white-space: nowrap;
	}

	.dxgvGroupPanel {
		align-items: center;
		background-color: $color-white;
		display: inline-flex;
		justify-content: center;
		width: 100%;
	}

	.dxgvEmptyDataRow {
		background-color: $color-light-gray;

		td.dxgv {
			border: border($color-medium-gray);
			border-width: 0 1px 1px !important;
			padding: $spacing-md;
			text-align: center;

			&.dxgvIndentCell {
				border-left: none;

				+ td.dxgv {
					border-left: none;
				}
			}
		}
	}

	.dxgvTable {
		background-color: transparent;
		border-width: 0;
		color: $color-slate-gray;
		overflow: hidden;
	}

	.dxgvHeader,
	.listviewLayoutTemplateNew {
		background: $color-turquoise;
		border: none;
		border-right: border($color-white);
		color: $color-white;
		cursor: pointer;
		font: f("Notes");
		overflow: hidden;
		padding: $spacing-md;
		text-align: left;
		white-space: nowrap;

		&:last-of-type {
			border-right: none;
		}

		table {
			color: $color-white;
		}

		th {
			color: $color-white;
			padding: 0;
			text-align: left;

			a,
			.gridtext1 {
				color: $color-white;
				font: f("Notes");
				padding: 0 $spacing-md;
				white-space: nowrap;
			}
		}

		td {
			text-align: center;
		}
	}

	.dxgvFilterRow {
		background: $color-light-gray;

		td.dxgv {
			border-bottom: border($color-medium-gray) !important;
			border-left-width: 0;
			border-right: none;
			border-top-width: 0;
			padding: $spacing-sm $spacing-md;
			overflow: hidden;

			&:first-of-type {
				border-left: border($color-medium-gray) !important;
			}

			&:last-of-type {
				border-right: border($color-medium-gray) !important;
			}
		}
	}

	.listviewItemTemplate,
	.listviewAlternatingItemTemplate1 {
		background: $color-light-gray;
		border-bottom: border($color-medium-gray) !important;
		border-left-width: 0;
		border-right: none;
		border-top-width: 0;
		color: $color-slate-gray;
		font: f("Notes");
		height: auto;
		padding: $spacing-sm $spacing-md;
		overflow: hidden;

		&:first-of-type {
			border-left: border($color-medium-gray) !important;
		}

		&:last-of-type {
			border-right: border($color-medium-gray) !important;
		}

		> td {
			padding: 0 $spacing-md;

			.gridtext {
				color: $color-slate-gray;
				font: f("Notes");
				padding: 0;
			}
		}

		.gridtext {
			color: $color-slate-gray;
			font: f("Notes");
			padding: 0;
		}
	}

	.listviewAlternatingItemTemplate1 {
		background: $color-medium-gray;
	}

	.griddrilldownlink {
		color: $color-slate-gray;
		font: f("Notes");
		padding: 0;
		white-space: nowrap;
	}

	.dxeTextBox,
	.dxeMemo {
		background-color: transparent;
		border: none;
	}

	.dxeEditArea {
		background-color: $color-white;
		border: border($color-medium-gray) !important;
		border-radius: $border-radius;
		color: $color-slate-gray;
		font: f("Notes");
		height: auto;
		padding: $spacing-sm $spacing-md;
	}

	.dxeButtonEdit {
		background-color: transparent;
		border: none;

		td.dxic {
			padding: 0;
		}
	}

	.dxeButtonEditButton,
	.dxeSpinIncButton,
	.dxeSpinDecButton,
	.dxeSpinLargeIncButton,
	.dxeSpinLargeDecButton {
		background: transparent;
		border: none;
		padding: 0;
	}

	.dxgvGroupRow {
		background-color: $color-light-gray;
		white-space: nowrap;

		td.dxgv {
			border-bottom: border($color-medium-gray);
			border-top: border($color-medium-gray);
			min-height: $cell-height;

			&:first-of-type {
				border-bottom: border($color-medium-gray) !important;
				border-left: border($color-medium-gray) !important;
				border-right: border($color-medium-gray) !important;
			}

			&:last-of-type {
				border-right: border($color-medium-gray) !important;
			}
		}
	}

	td.dxgv,
	.dxgvFocusedGroupRow td.dxgv {
		border: 0 none;
		color: $color-slate-gray;
		padding: $spacing-sm ($spacing-md * 2);
		vertical-align: middle;
		white-space: nowrap;

		&.dxgvIndentCell {
			background-color: transparent;
			border-left: border($color-medium-gray) !important;
		}
	}

	.dxgvDataRow {
		background-color: $color-white;

		&:last-of-type {
			td.dxgv {
				border-bottom: border($color-medium-gray);
			}
		}

		td.dxgv {
			border-bottom: none;
			border-right: border($color-medium-gray);
			text-align: right;

			&:not(.dxgvIndentCell):first-of-type {
				border-left: border($color-medium-gray) !important;
			}

			&:last-of-type {
				border-right: border($color-medium-gray) !important;
			}
		}
	}

	.dxgvGroupFooter {
		background-color: $color-light-gray;

		td.dxgv {
			border-right: border($color-medium-gray);
		}
	}

	.dxgvFooter {
		background: $color-medium-gray;
		white-space: nowrap;

		td.dxgv {
			border-right: border($color-light-gray);
		}
	}

	.dxgvPagerTopPanel,
	.dxgvPagerBottomPanel {
		align-items: center;
		background-color: $color-white;
		border-left: border($color-medium-gray);
		border-right: border($color-medium-gray);
		color: $color-slate-gray;
		display: flex;
		min-height: $cell-height;
		padding: $spacing-sm $spacing-md;
		width: 100%;
	}

	.dxpLite {
		color: $color-slate-gray;
		font: f("Notes");
		padding: 0;
	}

	.dxgvFilterBar {
		background: $color-medium-gray;
		border-top: none;
		color: $color-slate-gray;
		min-height: $cell-height;
		padding: $spacing-md;

		a {
			color: $color-turquoise;
			text-decoration: underline;
		}

		input[type="radio"],
		input[type="checkbox"] {
			margin: 0;
		}
	}

	.dxgvFilterBarCheckBoxCell,
	.dxgvFilterBarImageCell,
	.dxgvFilterBarExpressionCell,
	.dxgvFilterBarClearButtonCell {
		padding: $spacing-md;
	}
}