
.ipsg-widget_badge {
	@include absolute(top $spacing-sm right $spacing-sm);
	@include sizing(18px);
	align-items: center;
	background-color: $color-medium-gray;
	border-radius: 100%;
	color: $color-white;
	display: flex;
	font: f("Notes");
	justify-content: center;

	&.ipsg-widget_badge_danger {
		background-color: $color-red;
	}
}