.search-text,
.ipsg-widget_search {
	@include sizing(100%, $cell-height);
	display: flex;
	max-width: 700px;
	margin: 0 50px;

	.ipsg-widget_input-box .form-control {
		border-radius: 0;
		border-right: none;
	}

	.ipsg-widget_button {
		border-radius: 0;
	}
}

.search-text {
	align-items: center;
	margin: 0;

	input {
		@include sizing(100%, $cell-height);
		align-items: center;
		background-color: $color-white;
		border: border($color-medium-gray);
		border-radius: $border-radius;
		box-shadow: none;
		display: flex;
		font: f("Default Text");
		padding: 0 ($spacing-md * 2);

		&::-webkit-input-placeholder {
			color: $color-medium-gray;
			font: f("Default Text", "light");
		}

		&::-moz-placeholder {
			color: $color-medium-gray;
			font: f("Default Text", "light");
		}

		&:-ms-input-placeholder {
			color: $color-medium-gray;
			font: f("Default Text", "light");
		}

		&:-moz-placeholder {
			color: $color-medium-gray;
			font: f("Default Text", "light");
		}
	}
}