
.ipsg-widget_form-list {
	.ipsg-widget_input-box {
		display: flex;

		label {
			align-items: center;
			display: flex;
			flex: 0 0 45%;
			font: f("Default Text", "light");
			justify-content: flex-end;
			margin: 0;
			padding: 0 ($spacing-md * 2);
		}

		input {
			flex: 0 0 55%;
			max-width: 300px;
			width: auto;
		}
	}

	.ipsg-widget_form-list-buttons {
		display: flex;
		justify-content: center;
		width: 100%;

		.ipsg-widget_button {
			display: inline-flex;
			min-width: 130px;
			margin: 10px;
		}
	}
}