
.ipsg-widget_breadcrumb {
	@include sizing(100%, auto);
	color: $color-slate-gray;
	font: f("Section Heading");

	.tooltipparent {
		float: left;
		margin-right: 5px;
		position: relative;
	}

	.breadcrumb {
		background-color: transparent;
		border-radius: 0;
		font: f("Section Heading");
		margin: 0;
		padding: 0;

		a,
		span {
			font: f("Section Heading");
			color: $color-silver;

			&.state-active {
				color: $color-slate-gray;
			}
		}

		a {
			cursor: pointer;
			display: none;
		}

		span {
			margin: 0 5px;

			a {
				display: inline-block;
			}
		}
	}

	.ipsg-widget_breadcrumb-favorite {
		color: $color-silver;
		cursor: pointer;
		display: inline-block;
		font: f("Section Heading");

		&.state-active {
			color: $color-orange;
		}
	}
}