
.ipsg-widget_form {
	@include sizing(100%, auto);
	color: $color-slate-gray;
	font: f("Default Text");
	margin-top: 20px;

	table,
	tr,
	th,
	td {
		position: relative;
	}

	.ipsg-widget_form-holder {
		border: border($color-silver);
		border-radius: $border-radius;
		overflow: auto;
		width: 100%;

		table {
			border: none;
		}
	}

	.ipsgTableMain {
		background-color: $color-light-gray;
		border: border($color-silver);
		border-radius: $border-radius;
		margin-bottom: 15px;
		width: 100%;

		tr {
			background-color: $color-white;

			&.state-focus {
				td {
					color: $color-turquoise;
				}
			}
		}

		th {
			background-color: $color-turquoise;
			border-left: border($color-medium-gray);
			color: $color-white;
			font: f("Notes", "light");

			&:first-child {
				border-left: none;
			}

			span {
				display: block;
				margin: 10px;
				text-align: right;
			}
		}

		td {
			border-bottom: border($color-medium-gray);
			border-left: border($color-medium-gray);
			font: f("Notes", "light");
			text-align: right;

			&:first-child {
				border-left: none;
			}

			&.state-focus,
			&:focus {
				color: $color-turquoise;
			}

			span {
				display: block;
				margin: 10px;
			}
		}
	}

	.ipsgTableMainAlt {
		background-color: $color-light-gray;
		border: border($color-silver);
		border-radius: $border-radius;
		margin-bottom: 15px;
		width: 100%;

		tr {
			background-color: $color-white;

			&:nth-child(even) {
				background-color: $color-light-gray;
			}

			&.state-focus {
				td {
					color: $color-turquoise;
				}
			}
		}

		th {
			background-color: $color-turquoise;
			border-left: border($color-medium-gray);
			color: $color-white;
			font: f("Notes", "light");

			&:first-child {
				border-left: none;
			}

			span {
				display: block;
				margin: 10px;
				text-align: right;
			}
		}

		td {
			border-left: border($color-medium-gray);
			font: f("Notes", "light");
			text-align: right;

			&:first-child {
				border-left: none;
			}

			&.state-focus,
			&:focus {
				color: $color-turquoise;
			}

			span {
				display: block;
				margin: 10px;
			}
		}
	}

	.ipsgTableMainFlex {
		background-color: $color-light-gray;
		border: border($color-silver);
		border-radius: $border-radius;
		display: flex;
		flex-direction: row;
		margin-bottom: 15px;
		padding: 15px;
		width: 100%;

		tbody {
			width: 100%;
		}

		td {
			padding-right: 15px;

			select,
			span {
				vertical-align: middle;
				vertical-align: -webkit-baseline-middle;
			}
		}
	}

	.ipsgTableFlexRow {
		display: flex;
		margin-bottom: 5px;
		width: 100%;
	}

	.ipsgTableFlexRowBorder {
		display: flex;
		border-bottom: border($color-silver);
		margin-bottom: 15px;
		padding-bottom: 10px;
		width: 100%;
	}

	.ipsgTableFilterRow {
		background-color: $color-light-gray !important; // ew

		.ipsg-widget_input-box {
			margin: 5px 30px 5px 10px;
		}

		.ipsgTableButton {
			@include absolute(top 12px right 0);
			margin-right: 10px;
		}
	}

	.ipsgTableButton {
		display: inline-block;
		color: $color-slate-gray;
		font-size: 16px;
		vertical-align: middle;

		&:hover {
			text-decoration: none;
		}
	}

	.ipsgButtonRow {
		@include clearfix;
		margin-bottom: 15px;
		width: 100%;

		.ipsg-widget_button {
			margin-left: 8px;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.ipsg-widget_input-box {
		width: auto;
	}
}