
.ipsg-widget_list {
	margin-bottom: 60px;

	.ipsg-list-header {
		border-bottom: 2px solid $color-teal;
		color: $color-teal;
		font: f("Section Heading", "semibold");
		font-weight: 600;
		letter-spacing: 0.05em;
		text-transform: uppercase;
	}

	.ipsg-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.ipsg-list-item {
		overflow: hidden;
		position: relative;

		a {
			color: $color-slate-gray;
			display: block;
			padding: 4px 30px;
			text-decoration: none;

			&:hover {
				color: lighten($color-slate-gray, 20%);
			}
		}
	}

	.ipsg-list-icon {
		@include absolute(top 0 left 1px);
		@include sizing($btn-icon-size);
		align-items: center;
		border: border(transparent);
		border-radius: $border-radius;
		color: $color-orange-yellow;
		cursor: pointer;
		display: flex;
		justify-content: center;
		opacity: 0;
		pointer-events: none;
		transition: trans(opacity left, 'shift'), trans(background-color border-color, 'link');

		&.state-active,
		&:hover {
			color: $color-orange-yellow;

			&:before { content: "\e95e"; }
		}

		.state-edit & {
			display: flex;
			left: 3px;
			opacity: 1;
			pointer-events: all;
		}
	}
}