
.ipsg-widget_user-agent {
	border-right: 25px solid;
	display: flex;
	margin-bottom: 30px;
	padding: 0;
	width: 100%;

	&.ipsg-widget_user-agent_red {
		border-color: $color-raspberry;

		.ipsg-user-agent-image {
			border-color: $color-raspberry;
		}
	}

	&.ipsg-widget_user-agent_green {
		border-color: $color-turquoise;

		.ipsg-user-agent-image {
			border-color: $color-turquoise;
		}
	}

	a {
		color: $color-turquoise;
		text-decoration: none;
	}

	.ipsg-user-agent-image {
		@include sizing(112px);
		border: 7px solid;
		border-radius: 100%;
		flex: 0 0 auto;
		overflow: hidden;
		z-index: 1;

		img {
			@include sizing(100%);
			border: 3px solid $color-white;
			border-radius: 100%;
		}
	}

	.ipsg-user-agent-info {
		background-color: $color-light-gray;
		flex: 1 1 auto;
		font: f("Notes");
		padding: 8px 32px 8px 10px;
		position: relative;

		&::before {
			@include absolute(top 0 left -56px);
			@include sizing(56px, 100%);
			background-color: $color-light-gray;
			content: "";
		}

		span {
			display: block;
			line-height: 1.2;
			width: 100%;
			word-break: break-word;
		}
	}

	.ipsg-user-agent-header {
		font: f("Default Text");
		padding-bottom: $spacing-md;
		text-transform: uppercase;
	}
}