
.ipsg-widget_tech-manuals {
	.col-md-3 {
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	a {
		color: $color-raspberry;
		display: block;
		margin: 15px 0 30px;
		text-align: center;
		text-transform: uppercase;
	}
}