
.ipsg-widget_info-box {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	width: 100%;

	ul {
		border: border($color-medium-gray);
		list-style: none;
		margin: 0;
		max-width: 600px;
		padding: ($spacing-md + $spacing-sm);
	}

	li {
		align-items: center;
		display: flex;
		font: f("Notes", "light");
		padding-bottom: $spacing-md;

		&:last-of-type {
			padding-bottom: 0;
		}
	}

	.ipsg-widget_info-box-negative span {
		color: $color-red;
		margin-right: $spacing-sm;
	}

	.ipsg-widget_info-box-positive span {
		color: $color-green;
		margin-right: $spacing-sm;
	}
}