
.ipsg-widget_button {
	@include sizing(auto, $cell-height);
	align-items: center;
	background-color: $color-turquoise;
	border: border($color-medium-gray);
	border-radius: $border-radius;
	box-shadow: none;
	color: $color-white;
	display: flex;
	flex: 0 0 auto;
	font: f("Default Text");
	justify-content: center;
	transition: trans(background-color, "link");

	&.btn-primary {
		background-color: $color-teal;
		border: none;

		&:hover {
			background-color: $color-teal;
			border: none;
			box-shadow: rgba($color-black,0.4) 0 1px 3px 0;
		}

		&:active,
		&:focus,
		&:active:focus,
		&:active:hover,
		&:hover:focus {
			background-color: $color-teal;
			border: none;
			box-shadow: rgba($color-black,0.4) 0 1px 2px 0 inset;
		}
	}

	&.btn-primary-subdued {
		background-color: $color-white;
		border-color: $color-teal;
		color: $color-teal;

		&:hover {
			background-color: $color-teal;;
			border-color: $color-teal;
			box-shadow: rgba($color-black,0.4) 0 1px 3px 0;
			color: $color-white;
		}

		&:active,
		&:focus,
		&:active:focus,
		&:active:hover,
		&:hover:focus {
			background-color: $color-white;
			border-color: $color-teal;
			box-shadow: rgba($color-black,0.4) 0 1px 2px 0 inset;
			color: $color-teal;
		}
	}

	&.ipsg-widget_button_sm {
		font: f("Default Text", "light");
		height: 30px;
	}

	&:hover {
		background-color: lighten($color-turquoise, 1.5%);
		border: border($color-medium-gray);
		color: $color-white;
	}

	&:active,
	&:focus,
	&:active:focus,
	&:active:hover,
	&:hover:focus {
		color: white;
		background-color: lighten($color-turquoise, 3%);
		border: border($color-medium-gray);
	}
}