
.ipsg-widget_media {
	background-color: $color-medium-gray;
	border: border($color-silver);
	cursor: pointer;
	display: flex;

	&.ipsg-widget_media_inline {
		@include sizing(100%, 160px);
		align-items: center;
		color: $color-turquoise;
		justify-content: center;
	}

	&.ipsg-widget_media_tech {
		@include sizing(175px, 210px);
	}
}