
.ipsg-widget_reorder-list {
	$font-size: 26px;

	margin-bottom: 60px;

	.ipsg-reorder-list-header {
		align-items: center;
		display: flex;

		.ipsg-reorder-list-icon {
			@include sizing($font-size);
			align-items: center;
			color: $color-orange-yellow;
			display: flex;
			flex: 0 0 auto;
			justify-content: center;
			overflow: hidden;

			&::before {
				font-size: $btn-icon-size;
			}

			&:last-of-type {
				background-color: transparent;
				border: border(transparent);
				border-radius: $border-radius;
				color: $color-raspberry;
				cursor: pointer;
				transition: trans(color border background-color, 'link');

				&:hover {
					background-color: $color-raspberry;
					color: $color-white;
				}

				&::before {
					font-size: 16px;
				}

				&.state-active {
					color: $color-turquoise;

					&:hover {
						background-color: $color-turquoise;
						color: $color-white;
					}
				}
			}
		}

		.ipsg-reorder-list-title {
			flex: 1 1 auto;
			font: f("Section Heading");
			font-weight: 400;
			letter-spacing: 0.05em;
			padding: 8px 4px;
			text-transform: uppercase;
		}
	}

	.ipsg-reorder-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.ipsg-reorder-list-empty {
		background-color: $color-light-gray;
		border: border($color-medium-gray);
		font: f("Section Heading");
		padding: 13px;

		a {
			color: $color-turquoise;
		}
	}

	.ipsg-reorder-list-item {
		border: border($color-medium-gray);
		font: f("Notes");
		margin: 0 0 $spacing-md;
		opacity: 1;
		overflow: hidden;
		position: relative;
		transition: trans(opacity margin, 'shift');

		&.state-remove {
			opacity: 0;
		}

		a {
			color: $color-slate-gray;
			display: block;
			padding: 4px 4px 4px (4px + $font-size);
			text-decoration: none;

			&:hover {
				color: lighten($color-slate-gray, 20%);
			}
		}

		.ipsg-reorder-icon-move,
		.ipsg-reorder-icon-remove {
			@include sizing(21px);
			align-items: center;
			cursor: pointer;
			display: flex;
			justify-content: center;
			opacity: 0;
			pointer-events: none;
			transition: trans(opacity left right, 'shift'), trans(background-color, 'link');

			.state-edit & {
				display: flex;
				pointer-events: all;
			}
		}

		.ipsg-reorder-icon-move {
			@include absolute(top 3px left 3px);

			.state-edit & {
				left: 3px;
				opacity: 1;
			}
		}

		.ipsg-reorder-icon-remove {
			@include absolute(top 1px right 1px);
			color: $color-red;
			border-radius: $border-radius;

			&:hover {
				background-color: $color-red;
				color: $color-white;
			}

			.state-edit & {
				opacity: 1;
				right: 1px;
			}
		}
	}
}