
.ipsg-widget_updates {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		@include clearfix;
		color: $color-slate-gray;
		margin-bottom: 30px;
	}

	a {
		color: $color-turquoise;
		display: block;
	}
}