
.ipsg-widget_input-box {
	@include sizing(100%, $cell-height);
	flex: 1 1 auto;

	&.state-positive .form-control {
		border-color: $color-green;
	}

	&.state-negative .form-control {
		border-color: $color-red;
	}

	&.ipsg-widget_input-box_small {
		height: 30px;

		.form-control {
			height: 30px;
			padding: 0 30px 0 $spacing-md;
		}
	}

	.form-control {
		@include sizing(100%, $cell-height);
		align-items: center;
		background-color: $color-white;
		border: border($color-medium-gray);
		border-radius: $border-radius;
		box-shadow: none;
		display: flex;
		font: f("Default Text");
		padding: 0 ($spacing-md * 2);

		&::-webkit-input-placeholder {
			color: $color-medium-gray;
			font: f("Default Text", "light");
		}

		&::-moz-placeholder {
			color: $color-medium-gray;
			font: f("Default Text", "light");
		}

		&:-ms-input-placeholder {
			color: $color-medium-gray;
			font: f("Default Text", "light");
		}

		&:-moz-placeholder {
			color: $color-medium-gray;
			font: f("Default Text", "light");
		}
	}
}